<div class="jj-grid-filter">
  <div *ngFor="let sortOrder of sortOrders" (click)="onSortingChange(sortOrder.order)"
  [ngClass]="{
    'font-weight-bold': isSortingActive(sortOrder),
    'font-weight-normal': !isSortingActive(sortOrder)
  }" class="jj-grid-sorting">
    {{ sortOrder.title }}
  <span
    class="fa {{ sortOrder.className }}"
  ></span>
  </div>
  <div [ngSwitch]="filterConfig.type">
    <div *ngSwitchCase="filterType.MultiSelect">
      <jj-grid-filter-multiselect
        [filter]="filter"
        [filterConfig]="filterConfig"
        (filterApply)="onFilterApply($event)"
        (cancel)="onCancel($event)"
      ></jj-grid-filter-multiselect>
    </div>
  </div>
</div>
