<nav>
  <ul class="pagination">
    <form
      [formGroup]="paginationForm"
      novalidate
      (ngSubmit)="onFormSubmit()"
      class="form-inline"
    >
      <div
        class="form-group"
        [ngClass]="{
          'has-danger':
            paginationForm.controls['goToPage'].invalid &&
            paginationForm.controls['goToPage'].touched
        }"
      >
        <input
          name="goToPage"
          formControlName="goToPage"
          [ngStyle]="getInvalidControlStyle('goToPage')"
          type="text"
          class="form-control mb-2 mr-sm-2 mb-sm-0"
          placeholder="Enter page"
        />
      </div>
    </form>

    <li
      [ngClass]="{ disabled: !isPrevPageAvailable(pageNumber) }"
      class="page-item"
    >
      <a
        (click)="goToPageNumber(pageNumber - 1)"
        class="page-link"
        href="javascript:void(0)"
        >Previous</a
      >
    </li>
    <li
      *ngFor="let p of pages"
      [ngClass]="{ active: pageNumber === p - 1 }"
      class="page-item"
    >
      <a
        (click)="goToPageNumber(p - 1)"
        class="page-link"
        href="javascript:void(0)"
        >{{ p }}</a
      >
    </li>
    <li
      [ngClass]="{ disabled: !isNextPageAvailable(totalPageCount, pageNumber) }"
      class="page-item"
    >
      <a
        (click)="goToPageNumber(pageNumber + 1)"
        class="page-link"
        href="javascript:void(0)"
        >Next</a
      >
    </li>
  </ul>
</nav>
