<div class="row justify-content-end">
  <div class="col-md-3 mb-3">
    <input
      (input)="onSearchChange($event.target.value)"
      type="text"
      class="form-control"
      placeholder="Search"
    />
  </div>
</div>
