<span>
  <jj-grid-filter
    *ngIf="isFilterOpen"
    [filterConfig]="filterConfig"
    [filter]="getColumnFilter()"
    [isSortingAsc]="isSortingAsc(column)"
    [isSortingDesc]="isSortingDesc(column)"
    (sortingChange)="onSortingChange(column, $event)"
    (filterApply)="onFilterApply($event)"
    (cancel)="toggleColumnFilter(false)"
    >
  </jj-grid-filter>
  <span (click)="onTitleClick(column)"
    >{{ column.title }}
    <span
      class="fa"
      [ngClass]="{
        'fa-sort-up': isSortingAsc(column),
        'fa-sort-desc': isSortingDesc(column)
      }"
    ></span>
  </span>
</span>
