<div [ngSwitch]="column.type">
  <div *ngSwitchCase="columnType.String">
    <jj-grid-cell-string
      [column]="column"
      [item]="item"
      (click)="onCellClick(item, column)"
    ></jj-grid-cell-string>
  </div>
  <div *ngSwitchCase="columnType.Status">
    <jj-grid-cell-status
      [column]="column"
      [item]="item"
      (click)="onCellClick(item, column)"
    ></jj-grid-cell-status>
  </div>
  <div *ngSwitchCase="columnType.Actions">
    <jj-grid-cell-actions
      [column]="column"
      [item]="item"
      (actionClick)="onActionClick($event)"
    ></jj-grid-cell-actions>
  </div>
  <div *ngSwitchDefault>
    <jj-grid-cell-string
      [column]="column"
      [item]="item"
      (click)="onCellClick(item, column)"
    ></jj-grid-cell-string>
  </div>
</div>
