<div class="container">
  <form>
    <div class="form-group">
      <div class="row">
        <div class="col-md-6 text-left small">Filters</div>
        <div class="col-md-6 text-right small">
          <a (click)="clearFilters()" href="javascript:void(0)"
            >Clear Filters</a
          >
        </div>
      </div>
      <label>
        <input
          [value]="searchSubjectObs$ | async"
          (input)="onSearchChange($event.target.value)"
          class="form-control"
          placeholder="Search"
        />
      </label>
    </div>
    <div class="form-group">
      <div class="opt-container text-left">
        <div [hidden]="options.length === 0">
          <label
            ><input
              [checked]="isSelectedAllChecked$ | async"
              [indeterminate]="isSelectedAllItemsIndeterminate$ | async"
              (change)="onSelectAllItemsChanged($event.target.checked)"
              type="checkbox"
            />
            All
          </label>
        </div>
        <div *ngFor="let option of options">
          <label
            ><input
              [checked]="isItemSelected(option)"
              (change)="onToggleItemSelected(option, $event.target.checked)"
              type="checkbox"
            />
            {{ option.name }}</label
          >
        </div>
      </div>
    </div>
    <div class="form-group">
      <button (click)="onFilterApply()" type="button" class="btn btn-primary">
        Apply
      </button>
      <button (click)="onCancel()" type="button" class="btn btn-secondary">
        Cancel
      </button>
    </div>
  </form>
</div>
