<div ngbDropdown class="jj-grid-cell_actions d-inline-block">
  <button
    class="btn btn-outline-primary"
    id="jj-grid-cell_actions_dropdpwn"
    ngbDropdownToggle
  >
    ...
  </button>
  <div ngbDropdownMenu aria-labelledby="jj-grid-cell_actions_dropdpwn">
    <ng-container *ngFor="let action of column.actionConfig.actions">
      <button
        (click)="onActionClick(action, item)"
        *ngIf="isActionAvailable(item, column, action)"
        class="dropdown-item"
      >{{ action.name }}
      </button>
    </ng-container>
  </div>
</div>
