<jj-grid-search
  [search]="search$ | async"
  (searchChange)="onSearchChanged($event)"
></jj-grid-search>
<table class="table">
  <thead>
    <tr>
      <th *ngIf="(config$ | async).isSelectable">
        <input
          type="checkbox" class=""
          [checked]="isSelectedAllChecked$ | async"
          [indeterminate]="isSelectedAllItemsIndeterminate$ | async"
          (change)="onSelectAllItemsChanged($event.target.checked)">
      </th>
      <th *ngFor="let col of (columns$ | async)" scope="col">
        <jj-grid-column
          [column]="col"
          [params]="params$ | async"
          [filterConfig]="getColumnFilterConfig(col) | async"
          (sortingChange)="onSortingChanged($event)"
          (filterApply)="onFilterApply($event)"
        ></jj-grid-column>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of (dataItems$ | async)">
      <th *ngIf="(config$ | async).isSelectable">
        <input [checked]="isItemSelected(item)"  type="checkbox" (change)="onToggleItemSelected(item, $event.target.checked)">
      </th>
      <td *ngFor="let col of (columns$ | async)">
        <jj-grid-cell
          [column]="col"
          [item]="item"
          (cellClick)="onGridCellClick($event)"
          (itemActionInvoke)="onGridInvokedAction($event)"
        ></jj-grid-cell>
      </td>
    </tr>
  </tbody>
</table>
<jj-grid-pagination
  [pageNumber]="pageNumber$ | async"
  [pageSize]="pageSize$ | async"
  [totalItems]="dataTotalItems$ | async"
  (pageChanged)="onPageChanged($event)"
></jj-grid-pagination>
